/*     id>class>element>*    */

#id1 {
    background-color: darkblue;
}

* {
    background-color: lightcyan;
}

div {
    background-color: blueviolet;
}

.cl1 {
    background-color: lightcoral;
}

#id1 {
    background-color: pink;
}