.btn {
    background-color: orangered;
    color: white;
    border: black solid 1px;
    padding: 10px 10px;
    margin: 20px 65px;
    cursor: pointer;
    box-shadow: gray 10px 5px 5px;
    border-radius: 10px;
    font-size: large;
    align-self: flex-center;
}

div.btn:active {
    transform: translate(5px, 5px);
    box-shadow: gray 5px 5px 3px;
    transition: 0.2s;
}

h1 {
    text-align: center;
    font-size: 50px;
    color: orangered;
}

.com {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin: 80px;
    padding: 20px;
}

.c1 {
    text-align: center;
    font-size: 25px;
    background-color: beige;
    color: black;
    width: calc(33.3% - 40px); /* Default: 2 per row with spacing */
    height: 250px;
    margin: 10px;
    padding: 7px;
    border-radius: 10px;
    box-shadow: gray 10px 5px 5px;
    text-align: center;
    border: black solid 1px;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
    height: 50px;
}

@media (max-width: 799px) {
    .c1 {
        width: calc(100% - 40px);
    }
}

@media (max-width: 1199px) and (min-width: 800px) {
    .c1 {
        width: calc(50% - 40px);
    }
}

@media (min-width: 1200px) {
    .c1 {
        width: calc(33.33% - 40px);
    }
}